<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 - Page Not Found</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f8f9fa;
      height: 100vh;
    }
    .error-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
    }
    .error-code {
      font-size: 100px;
      font-weight: bold;
      color: #ff6347;
    }
    .error-message {
      font-size: 1.5rem;
      color: #7d7676;
    }
    .back-btn {
      font-size: 1.2rem;
      color: #ffffff;
    }
  </style>
</head>
<body>
  <div class="container error-container">
    <div class="text-center">
      <div class="error-code">404</div>
      <div class="error-message">Oops! The page you are looking for does not exist.</div>
      <a href="/admin" class="btn btn-primary mt-3 back-btn">Go Back to DashBoard</a>
    </div>
  </div>

  <!-- Bootstrap JS (Optional for Bootstrap components like dropdown, modals, etc.) -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
