<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Successfully Logged In</title>

  <style>
    body {
      font-family: sans-serif;
      background: white;
      color: #808080;
      text-align: center;
    }

    .animation-ctn {
      text-align: center;
      margin-top: 5em;
    }

    @-webkit-keyframes checkmark {
      0% {
        stroke-dashoffset: 100px
      }

      100% {
        stroke-dashoffset: 200px
      }
    }

    @-ms-keyframes checkmark {
      0% {
        stroke-dashoffset: 100px
      }

      100% {
        stroke-dashoffset: 200px
      }
    }

    @keyframes checkmark {
      0% {
        stroke-dashoffset: 100px
      }

      100% {
        stroke-dashoffset: 0px
      }
    }

    @-webkit-keyframes checkmark-circle {
      0% {
        stroke-dashoffset: 480px
      }

      100% {
        stroke-dashoffset: 960px;
      }
    }

    @-ms-keyframes checkmark-circle {
      0% {
        stroke-dashoffset: 240px
      }

      100% {
        stroke-dashoffset: 480px
      }
    }

    @keyframes checkmark-circle {
      0% {
        stroke-dashoffset: 480px
      }

      100% {
        stroke-dashoffset: 960px
      }
    }

    @keyframes colored-circle {
      0% {
        opacity: 0
      }

      100% {
        opacity: 100
      }
    }

    /* other styles */
    /* .svg svg {
    display: none
}
 */
    .inlinesvg .svg svg {
      display: inline
    }

    /* .svg img {
    display: none
} */
    .icon--order-success svg polyline {
      -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
      animation: checkmark 0.25s ease-in-out 0.7s backwards
    }

    .icon--order-success svg circle {
      -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
      animation: checkmark-circle 0.6s ease-in-out backwards;
    }

    .icon--order-success svg circle#colored {
      -webkit-animation: colored-circle 0.6s ease-in-out 0.7s backwards;
      animation: colored-circle 0.6s ease-in-out 0.7s backwards;
    }

    h1 {
      margin-top: 25px;
      font-size: 18px;
      font-family: sans-serif;
    }

    p {
      margin-top: 15px;
      font-size: 14px;
      font-family: sans-serif;
    }
  </style>
</head>

<body>
  <div class="animation-ctn">
    <div class="icon icon--order-success svg">
      <svg xmlns="http://www.w3.org/2000/svg" width="154px" height="154px">
        <g fill="none" stroke="#22AE73" stroke-width="2">
          <circle cx="77" cy="77" r="72" style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;"></circle>
          <circle id="colored" fill="#22AE73" cx="77" cy="77" r="72" style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;"></circle>
          <polyline class="st0" stroke="#fff" stroke-width="10" points="43.5,77.8 63.7,97.9 112.2,49.4 " style="stroke-dasharray:100px, 100px; stroke-dashoffset: 200px;" />
        </g>
      </svg>
    </div>
  </div>

  <div>
    <h1>Order Placed Successfully</h1>
    <p>Thankyou for shopping with us.</p>
  </div>
  <a href="/orderDetails?orderId=<%=orderId%>" class="btn btn-primary">Order details</a>
  <a  href="/shop" class="btn btn-warning">continue shopping</a>
</body>

</html>