<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/signup.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>zoocart signup</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form name="form" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="bi bi-person"></i>
              <input type="text" name="user" id="signin-email" placeholder="Email Address" />
            </div>
            <div class="input-field">
              <i class="bi bi-lock"></i>
              <input type="password" name="password" id="signin-password" placeholder="Password" />
              <i class="bi bi-eye toggle-password" onclick="togglePassword('signin-password')"></i>
            </div>
            <button id="login" class="btn solid">
               Login
            </button>
           <p style="color:grey">Or</p>
              <a href="/auth/google" class="btn google-btn">
                <i class="bi bi-google"></i> Google Sign in
              </a><br>
              <a href="/forgotpassword">Forgot your password?</a>
          </form>

          <form name="myform" class="sign-up-form" >
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="bi bi-person"></i>
              <input type="text" name="name" id="name" placeholder="Name" />
            </div>
            <div class="input-field">
              <i class="bi bi-envelope"></i>
              <input type="email" name="email" id="email" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="bi bi-telephone"></i>
              <input type="tel" name="mobile" id="phone" placeholder="Mobile Number" />
            </div>
            <div class="input-field">
              <i class="bi bi-lock"></i>
              <input type="password" name="password" id="signup-password" placeholder="Password" />
              <i class="bi bi-eye toggle-password" onclick="togglePassword('signup-password')"></i>
            </div>
            <button id="signup" class="btn">
              Sign up
            </button>
            <p style="color:rgb(119, 115, 115)">Or</p>
              <a href="/auth/google" class="btn google-btn">
                <i class="bi bi-google"></i> Sign up With Google
              </a>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>Signup Here If You Don't Have Account.</p>
            <button class="btn transparent" id="sign-up-btn">Sign up</button>
          </div>
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>If You Already Have Account Signin Here.</p>
            <button class="btn transparent" id="sign-in-btn">Sign in</button>
          </div>
        </div>
      </div>
    </div>
   

<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="public/js/signup.js"></script>
  </body>
</html>